@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
  height: 100%;
  /* background: #12100e;
  transition: background-color 0.3s ease; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.normal-cursor {
  cursor: default;
}

.react-activity-calendar__tooltip[data-color-scheme="light"] {
  background-color: white;
  color: #18181b;
  border: 1px solid #e4e4e7;
}
